body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 20px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: maroon;
    margin-left: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: maroon;
    margin-left: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: #451c08;
    margin-left: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    color: #451c08;
    margin-left: 40px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

input[type=text]{
    margin-left: 40px;
}

input[type=submit]{
    background-color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    border:none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

input[type=reset]{
    background-color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    border:none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

select{
    background-color: maroon;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:none;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}
option{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    color: white;
    padding: 5px 20px;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-left: 40px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
 }
 thead {
    background-color: #d39867;
 }
 tbody {
    background-color: bisque;
 }
 th {
    border: 1px solid black;
    padding: 8px;
 }
 
 tr:hover {background-color: burlywood;} 
 
 tr{
    border: 1px solid black;
 }

 a{
    font-size: 20px;
    margin-left: 20px;
 }
